*{
    margin: 0;
    padding: 0;
    block-size: border-box;
    font-family: 'Roboto', sans-serif;
}

header{
    display: block;
    text-align: center;
    padding: 30px 60px;
    background-color: rgba(255, 60, 0, 0.721);
    color: aliceblue;
    font-weight: normal;
    align-items: center;
}

.container{
    max-width: 1000px;
    width: 100%;
    margin: 0 auto;
    margin-top: 20px;
}

header a{
    padding:0 10px;
    font-size: 20px;
    text-decoration: none;
    color: rgb(255, 255, 255);
}

.reset{
    border: none;
    background-color: rgba(87, 87, 87, 0.728);
    color: white;
    padding: 10px 20px;
    margin-bottom: 20px;
}

.reset:hover{
    border-bottom: 1px solid rgba(0, 0, 0, 0.257);
    border-right: 1px solid rgba(0, 0, 0, 0.257);
    background-color: rgba(0, 0, 255,0.4);
}

.reset:active{
    border-bottom: 1px solid rgba(0, 0, 0, 0.257);
    border-right: 1px solid rgba(0, 0, 0, 0.257);
    background-color: rgb(20, 204, 255);
}

header a:hover{
    color:rgba(0, 0, 0, 0.31);
}

h3{
    color: rgba(255, 60, 0, 0.721);
}

.tabela{
    padding: 80px 20px;
    display: flex;
}

.inContatoNovo{
    width: 100%;
    text-align: center;
}

.inContatoNovo h2{
    padding: 20px;
}

.inContatoNovo input{
    padding: 8px 10px;
    border: 0.1px solid rgba(0, 0, 0, 0.296);
}

.BotaoSubmit{
    padding: 10px;
    background-color: rgba(0, 0, 255,0.4);
    border: none;
}

.BotaoSubmit:hover{
    background-color: rgba(34, 54, 182, 0.978);
}

.BotaoSubmit:active{
    background: grey;
}

.AgendaVirtual{
    text-align: center;
    padding: 0px 8px;

    margin: 0 auto;
}

h3{
    text-align: center;
    font-size: 25px;
    padding: 0 20px;
}

table{
    max-width: 500px;
    width: 80%;
    margin: 0 auto;
    text-align: center;
    border: 2px solid rgba(0, 0, 0, 0.342);
    border-radius: 20px;
}

.itemNovo{
    border-top: 1px solid black;
}


th{
    color: rgba(0, 0, 0, 0.663);
    padding: 8px 0 ;
}

td{
    margin: 0;
    padding: 0;
}